---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <section class="container mx-auto py-12 px-4">
    <h2 class="text-3xl font-semibold">Resume</h2>
    <p class="mt-4">Download my resume: <a class="text-[var(--blue)]" href="https://drive.google.com/file/d/1y2VlRemYuQ2DOwT564E6Cn-ZNrnCa9oR/view" target="_blank" rel="noreferrer">View Resume</a></p>

    <div class="mt-6">
      <h3 class="text-xl font-semibold">Contact</h3>
      <p class="mt-2 text-sm">Email: <a href="mailto:gurunikhilmangaraju@gmail.com">gurunikhilmangaraju@gmail.com</a></p>
      <p class="text-sm">GitHub: <a href="https://github.com/MGuruNikhil">github.com/MGuruNikhil</a></p>
    </div>
  </section>
</Layout>
